.venv
__pycache__
ffmpeg_wasm_bridge.egg-info
dist
test_env
ffmpeg_wasm_bridge.egg-info
ffmpeg_wasm_bridge/__pycache__
ffmpeg_wasm_bridge/ffmpeg_wasm_bridge.egg-info
.DS_Store
ffmpeg_wasm_bridge/.DS_Store
